<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>000</key><string>(*inline*)</string>
<key>001</key><string>&lt;*inline*&gt;</string>
<key>002</key><string>|*inline*|</string>
<key>003</key><string>(*inline*)ﾉ</string>
<key>004</key><string>ヽ(*inline*)ﾉ</string>
<key>005</key><string>(ノ*inline*)ノ</string>
<key>006</key><string>(*inline*;)</string>
<key>007</key><string>ﾍ(*inline*ﾍ)</string>
<key>008</key><string>φ(*inline*)</string>
<key>009</key><string>Σ(*inline*;)</string>
<key>010</key><string>(((( *inline*;))))</string>
<key>011</key><string>(=*inline*)ﾉ</string>
<key>012</key><string>(#*inline*)</string>
<key>013</key><string>|*inline*|ノ</string>
<key>014</key><string>(**inline**)</string>
<key>015</key><string>(*inline*⊂ヽ</string>
<key>016</key><string>(((((;*inline*)≡⊃)｀Д)､;&#039;.･</string>
<key>017</key><string>(*inline*)っ旦</string>
<key>018</key><string>＼(*inline*)／</string>
<key>019</key><string>／(*inline*)＼</string>
<key>020</key><string>|←樹海|　　┗(*inline*)┓三</string>
<key>021</key><string>щ(*inline*щ)</string>
<key>022</key><string>ω(*inline*)ω</string>
<key>023</key><string>(屮*inline*)屮</string>
<key>024</key><string>J(*inline*)し</string>
<key>025</key><string>&lt;丶*inline*&gt;</string>
<key>026</key><string>ミ*inline*彡</string>
<key>027</key><string>(n*inline*)η</string>
<key>028</key><string>ヽ(*inline*)ﾉ┌┛)`Дﾟ)･;&#039;</string>
<key>029</key><string>ヾ(**inline**)ﾉ</string>
<key>030</key><string>Σ(*inline*ﾉ)ﾉ</string>
<key>031</key><string>((=*inline*=)</string>
<key>032</key><string>♪～(*inline*　)</string>
<key>033</key><string>( *inline*)┛</string>
<key>034</key><string>(*inline*)人(・∀・)</string>
<key>035</key><string>|*inline*)))</string>
<key>036</key><string>*inline*)ﾉ</string>
<key>037</key><string>q(*inline* )</string>
<key>038</key><string>（　*inline*）（´&lt;_｀ 流石だよな俺ら。</string>
<key>039</key><string>(**inline*)</string>
<key>040</key><string>U*inline*)ﾉ</string>
<key>041</key><string>ε＝(ﾉ*inline*)ﾉ</string>
<key>042</key><string>[*inline*]</string>
<key>043</key><string>∩(*inline*)つ―*&#039;``*:.｡. .:*</string>
<key>044</key><string>⊂⌒~⊃*inline*)⊃</string>
<key>045</key><string>(*inline*)人(ﾟ∀ﾟ)ﾅｶｰﾏ</string>
<key>046</key><string>（　*inline*）つ□ 涙拭けよ</string>
<key>047</key><string>&lt;丶*inline*&gt;</string>
<key>048</key><string>|/*inline*|丿</string>
<key>049</key><string>(*inline*)ﾊｧ?</string>
<key>050</key><string>(*inline*)ﾊｧﾊｧ</string>
<key>051</key><string>(*inline*)ﾊｯ!</string>
<key>052</key><string>(*inline*)ﾉｼ</string>
<key>053</key><string>∩(*inline*)∩　ばんじゃーい</string>
<key>054</key><string>m9（*inline*）ﾋﾞｼｯ!!</string>
<key>055</key><string>φ(*inline*)ﾌﾑﾌﾑ…</string>
<key>056</key><string>v(*inline*)v ﾌﾞｲｯ</string>
<key>057</key><string>q(*inline*)p</string>
<key>058</key><string>(*inline*)σ</string>
<key>059</key><string>┐(*inline*)┌ﾔﾚﾔﾚ</string>
<key>060</key><string>（Ｕ*inline*）</string>
<key>061</key><string>(((( *inline*))))ｱﾜﾜﾜﾜ</string>
<key>062</key><string>(∩*inline*)ｱｰｱｰきこえなーい</string>
<key>063</key><string>(=*inline*)ﾉぃょぅ</string>
<key>064</key><string>ｷﾀ━(*inline*)━!</string>
<key>065</key><string>ｺﾈ━(*inline*)━!</string>
<key>066</key><string>ｺﾞ━(# *inline*)━ﾙｧ!!</string>
<key>067</key><string>ε＝┌(*inline*)┘ｻｻｯ</string>
<key>068</key><string>(*inline*)ﾅ､ﾅﾝﾀﾞｯﾃｰ!!(`・д´・(`・д´・;)</string>
<key>069</key><string>ﾄﾞ━(*inline*)━ﾝ!!!</string>
<key>070</key><string>щ（*inline*щ）</string>
<key>071</key><string>ｳﾋｬ━ヽ(*inline*)ﾉ━ !!!!</string>
<key>072</key><string>（ *inline*）・∵. ｸﾞﾊｯ!!</string>
<key>073</key><string>ｷｬﾊ━(*inline*)━ｯ</string>
<key>074</key><string>ｲｪ━ヽ（ *inline*）人（ﾟДﾟ ）ﾉ━ィ</string>
<key>075</key><string>┣¨┣¨┣¨（*inline*）┣¨┣¨┣¨</string>
<key>076</key><string>∩（*inline*）∩ばんじゃーい</string>
<key>077</key><string>( *inline*)ｱﾊﾊ八八ﾉヽﾉヽﾉヽﾉ ＼ / ＼</string>
<key>078</key><string>（σ*inline*）σｹﾞｯﾂ!!</string>
<key>079</key><string>+（0ﾟ*inline*）+ ﾜｸﾜｸﾃｶﾃｶ +</string>
<key>080</key><string>(*inline*)</string>
<key>081</key><string>&lt;*inline*&gt;</string>
<key>082</key><string>|*inline*|</string>
<key>083</key><string>(*inline*)ﾉ</string>
<key>084</key><string>ヽ(*inline*)ﾉ</string>
<key>085</key><string>(ノ*inline*)ノ</string>
<key>086</key><string>(*inline*;)</string>
<key>087</key><string>ﾍ(*inline*ﾍ)</string>
<key>088</key><string>φ(*inline*)</string>
<key>089</key><string>Σ(*inline*;)</string>
<key>090</key><string>(((( *inline*;))))</string>
<key>091</key><string>(=*inline*)ﾉ</string>
<key>092</key><string>(#*inline*)</string>
<key>093</key><string>|*inline*|ノ</string>
<key>094</key><string>(**inline**)</string>
<key>095</key><string>(*inline*⊂ヽ</string>
<key>096</key><string>(((((;*inline*)≡⊃)｀Д)､;&#039;.･</string>
<key>097</key><string>(*inline*)っ旦</string>
<key>098</key><string>＼(*inline*)／</string>
<key>099</key><string>／(*inline*)＼</string>
</dict>
</plist>
